.heroPost__image {
  border-radius: 0.75rem 0.75rem 0 0;
  width: 100%;
  height: 20rem;
}

.heroPost__content {
  padding: 1.5rem;
}

.heroPost__header {
  padding-block: 1.25rem;
}

.heroPost__hearder_title {
  a {
    font-size: clamp(1.5rem, 3vw, 2.5rem);
    font-weight: 800;
  }
}

.heroPost__body {
  display: flex;

  p {
    font-size: clamp(1.1rem, 3vw, 1.25rem);
    color: rgb(97, 97, 97);
  }
}

.heroPost__footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1.25rem;
  padding-block-start: 1rem;
}

.avatar {
  display: flex;
  align-items: center;
  gap: 1.25rem;
}

.avatar__image {
  border-radius: 50%;
}

.avatar__name {
  font-weight: 600;
  font-size: 1.25rem;
}

.avatar__name--display {
  display: none;

  @media (width >= 30rem) {
    display: initial;
  }
}

.time {
  font-weight: 500;
  color: #777;
}

.Post {
  padding-block: 3rem;
}
