/*
.closeButton {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.75rem;
    user-select: none;
    position: absolute;
    top: 2rem;
    right: 2rem;
    background-color: transparent;
    border-radius: 20%;
    border: 0;
    padding: 1rem;
    transition: all 150ms ease-in-out;

    &:hover {
        background-color: #1e1e1e;
        color: #f9af16;
    }

    svg {
        font-size: 1.5rem;

        &:hover {
            color: #f9af16;
        }
    }
}

.MobileMenu {
    position: fixed;
    inset: 0;
    background: linear-gradient(45deg, #1e1e1e, #f9af16);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

.MobileMenu__open {
    transform: translateX(0);
    transition: transform 1s ease-in-out;
}

.MobileMenu a {
    color: #1e1e1e;
    font-size: 2rem;
    padding: 1rem;

    &:hover {
        color: #f9af16;
    }
}
*/
