.NotFound {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    height: 100%;

    p {
        border-left: 0.0625rem solid #ccc6;
        padding-left: 1.25rem;
        display: flex;
        flex-direction: column;

        span:first-child {
            font-size: 1.25rem;
            font-weight: 600;

            i {
                background-color: #f9af16;
                color: #1e1e1e;
                padding: .5rem;
                font-size: .75rem;
                border-radius: .25rem;
                font-family: monospace;
            }
        }

        span:nth-child(2) {
            color: #707b90;
        }
    }
}

.ErrorCode {
    color: #4b5563;
    font-size: 3rem;
    font-weight: 900;
    padding-right: 1.25rem;
}
